* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#main {
  overflow: hidden;
}
#img-responsive {
  display: block;
  width: 100%;
  height: auto;
}
@media (max-width: 575px) {
  .button {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
  #n_bar {
    margin-top: 15px;
    color: black;
  }
  .lists1 {
    background-color: lightgray !important;
  }
  .down {
    display: none;
  }
}
@media (max-width: 575px) {
  .dropmenu {
    visibility: hidden;
  }
}
@media (max-width: 575px) {
  .lists1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgba(218, 218, 218, 0.46);
  }
  .testo {
    display: block !important;
    width: 50% !important;
    margin-top: 15px;
    padding: 10px 43px 10px 43px !important;
    background-color: #f0a35b !important;
    color: #4a4945 !important;
  }
  .prova {
    width: 100% !important;
    padding: 0 0 !important;
    background-color: #031c43 !important;
    border: 1px solid #000000 !important;
    border-radius: 8px !important;
    color: white !important;
  }
  .testi_colors {
    color: white !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
  }
  .testi_colors:hover {
    background-color: #f0a35b !important;
  }
  .testi_colors:active {
    display: block !important;
    width: 50% !important;
    margin-top: 15px;
    padding: 10px 43px 10px 43px !important;
    background-color: #f0a35b !important;
    color: #4a4945 !important;
  }
  .four_boxes {
    max-width: 100%;
  }
  .background {
    max-width: 100%;
    margin-top: 20px !important;
  }
  .diagram {
    max-width: 100%;
  }
  .image_half {
    max-width: 100%;
  }
  .dy_pjese {
    max-width: 100%;
    margin-left: 0 !important;
  }
  .logo1 {
    display: none;
  }
  .paragraf {
    padding-left: 0 !important;
  }
  .border1 {
    margin-bottom: 10px;
  }
  .space {
    margin-top: 20px !important;
  }
  .second_boxes {
    margin-bottom: 20px !important;
    margin-left: 20px;
  }
  .first_boxes {
    margin-left: 20px;
  }
  .in_image {
    margin-top: -150px !important;
    width: 70% !important;
  }
}
@media (max-width: 1200px) {
  .logoja {
    display: none !important;
  }
  .disappear {
    display: none;
  }
  .box {
    padding: 20px !important;
  }
}
@media (max-width: 1400px) {
  .box_in_border_2 {
    right: 0 !important;
    padding: 10px 25px !important;
  }
}
